<h1>CheckOut</h1>
<% @carted_products.each do |carted_product| %>
  <h2> <%= carted_product.product.name %> - Quantity: <%= carted_product.quantity %></h2>
<% end %>


<%= form_tag "/orders", method: :post do %>

<div>

<%= submit_tag "Buy Now!" %>
  
</div>
<% end %>


