<h2>Cart Page:</h2>


<p>Order Id: <%= @carted_product.id %></p>
<p>Quantity: <%= @carted_product.quantity %></p>
<p>Product Name: <%= @carted_product.product.name %></p>
<p>Purchased at: <%= @carted_product.created_at %></p>